@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #edf2f4;
  --color-text: #2b2d42;
  --color-primary: #d90429;
  --color-bg-variant: #8d99ae;
  --color-idan: #201f33;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--color-bg-variant);
}
